@model TagModel

@{
    ViewData["Title"] = "AddingTag";
}

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddingTag">
            <div>
                @*@Html.DropDownList("tags", new List<SelectListItem>
        {
            foreach (var item in ViewBag.Tags)
            {
                new SelectListItem{Text = item.Url, Value = item.Url};
            }
        })*@

                @Html.DropDownListFor(x => x.Url, new SelectList(ViewBag.tags,"ID", "Url"));



                @*@Html.DropDownList("tags", new List<SelectListItem>
        {
            new SelectListItem { Text="Funny", Value="Funny" },
            new SelectListItem { Text="Good to know", Value="Good to know" },
            new SelectListItem { Text="Not interesting", Value="Not interesting" },
            new SelectListItem { Text="Study", Value="Study" },
            new SelectListItem { Text = "Select Tag", Value = "No Tag added", Selected=true}
        })*@
                <input type="hidden" id="questionId" name="questionId" value=@ViewBag.questionId runat="server">
            </div>

            <div class="form-group">
                <input type="submit" value="Add" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="list">Back to the Questions</a>
</div>


