@model TagModel

@{
    ViewData["Title"] = "AddingTag";
}

<hr />
<div class="row">
    <div class="col-md-4">
        @*<form asp-action="SelectFromTags">
        <input type="hidden" id="questionId" name="questionId" value=@ViewBag.questionId runat="server" />
        @*Html.DropDownListFor(x => x.Url, new SelectList(ViewBag.tags, "ID", "Url"))*@


        @*@Html.DropDownList("tag", (IEnumerable<SelectListItem>)ViewBag.Tag)
        <input type="submit" value="Select" class="btn btn-primary" />*@

        @*@Html.ActionLink("Add", "SelectFromTags", new { tag = operation })*@
        @*</form>*@

        <form asp-action="AddingTag">
            <div class="form-group">
                <input type="hidden" id="questionId" name="questionId" value=@ViewBag.questionId runat="server" />
            </div>
            <div class="form-group">
                <input name="Url_i" id="Url_i" class="form-control" />
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="list">Back to the Questions</a>
</div>