
@{
    ViewData["Title"] = "AnswersForQuestion";
}

<h1>AnswersForQuestion</h1>

<h2>@ViewBag.Question.Title</h2>

@foreach (var item in ViewBag.Ans)
{
    <div>
        <form>
            <h4>
                @item.Message
                @Html.ActionLink("Delete", "DeleteAnswer", new { id = item.ID, qid = ViewBag.Question.ID })
            </h4>
        </form>
    </div>
}
