@{
    ViewData["Title"] = "Home Page";
}
@model List<QuestionModel>

<div>
    @foreach (var item in Model)
    {
    <ul>
        <li>
            @item.Title @item.Message
        </li>
    </ul>
    }
</div>
