
@{
    ViewData["Title"] = "list";
}
@model CsvDatabase

<h1>All questions:</h1>
<br /><br />
@if(Model.listOfQuestions.Count==0)
{
    <a>Currently no questions on the page!</a>
}
@foreach (var question in Model.listOfQuestions)
{
<li>
    @question.Title
    <form action="Home/DisplayQuestion">
        <button  type="submit">See answers</button>
    </form>

    <form>
        <button action="Privacy" type="submit">Edit</button>
    </form>

    <form>
        <button type="submit">Delete</button>
    </form>
</li>
}
    
