
@{
    ViewData["Title"] = "List";
}


<h1>All questions:</h1>
<br /><br />
@if(CsvDatabase.listOfQuestions.Count==0)
{
    <a>Currently no questions on the page!</a>
}
@foreach (var question in CsvDatabase.listOfQuestions)
{
<li>
    @question.Title
    <form action="QuestionDetails">
        <button type="submit"> See answers</button>
    </form>

    <form action="Privacy">
        <button  type="submit">Edit</button>
    </form>

    <form>
        <button type="submit">Delete</button>
    </form>
</li>
}
    
